Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [3]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [4]:
max_math_score = 800

# Filter schools with math scores at least 80% of the maximum
best_math_schools = schools[schools['average_math'] >= 0.8 * max_math_score][['school_name', 'average_math']]

# Sort by average_math in descending order
best_math_schools.sort_values(by='average_math', ascending=False, inplace=True)

# Calculate the total SAT score by summing the three SAT sections
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# Sort the schools by total_SAT in descending order and select the top 10
top_10_schools = schools[['school_name', 'total_SAT']].nlargest(10, 'total_SAT')

# Group schools by borough and calculate mean and standard deviation of total_SAT
borough_stats = schools.groupby('borough')['total_SAT'].agg(['count', 'mean', 'std']).round(2)

# Find the borough with the largest standard deviation
largest_std_dev = borough_stats.nlargest(1, 'std')

# Rename columns and reset the index
largest_std_dev.rename(columns={'count': 'num_schools', 'mean': 'average_SAT', 'std': 'std_SAT'}, inplace=True)
largest_std_dev.index.name = 'borough'